<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/Footer.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/Default/Index">Havalimanları <i class="fa fa-plane"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Default/Havalimanlari">
                                    Havalimanı Ekle
                                    <i class="fa fa-plane"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Default/VarisNoktalari">
                                    Varış Noktaları
                                    <i class="fa fa-flag"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Default/AddVarisNoktalari">
                                    Varış Noktaları Ekle
                                    <i class="fa fa-flag"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Default/Müsteri">
                                    Müşteri
                                    <i class="fa fa-users"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Default/Fiyat">
                                    Fiyatlar
                                    <i class="fa fa-money"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Default/Arac">
                                    Araçlar
                                    <i class="fa fa-taxi"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Default/Rezervasyon">
                                    Rezervasyon
                                    <i class="fa fa-calendar"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        <div class="row" id="footer">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                    <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Videos</a></li>
                </ul>
            </div>

        </div>
    </div>
</body>

</html>
