
@{
    ViewBag.Title = "AddVarisNoktalari";
    Layout = "~/Views/_MainLayout.cshtml";
}

<section class="content-header">
    <h3>Varış Noktası Ekle</h3>
    <small class="text-primary">
        <i class="fa fa-info-circle"></i>
        Varış Noktası Ekle
    </small>
</section>
<section class="content">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card card-info">
                <div class="card-header">
                    <h4 class="card-title">Ekle</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("EkleVaris", "Default", FormMethod.Post))
                    {
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Varış Noktası</label>
                            <div class="col-sm-8">
                                <input type="text" name="VarisNokta" class="form-control" placeholder="Varış.." />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Havalimanı Id</label>
                            <div class="col-sm-8">
                                <input type="text" name="HavaLimaniId" class="form-control" placeholder="Havalimanı Id..." />
                            </div>
                        </div>

                        <div class="form-group float-right">
                            <button class="btn btn-dark">Ekle</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</section>

