@model Araclar
@{
    ViewBag.Title = "UpdateArac";
    Layout = "~/Views/_MainLayout.cshtml";
}

<section class="content-header">
    <h3>Araç Güncelle</h3>
    <small class="text-primary">
        <i class="fa fa-info-circle"></i>
        Araç Güncelle
    </small>
</section>


<section class="content">

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card card-info">
                <div class="card-header">
                    <h4 class="card-title">Güncelle</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("UpdateAraclar", "Default", FormMethod.Post))
                    {
                        <input type="hidden" name="AracId" value="@Model.AracId" />
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Araç Tipi</label>
                            <div class="col-sm-8">
                                <input type="text" value="@Model.AracTipi" name="AracTipi" class="form-control" placeholder="Araç Tipi.." />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Max Kişi</label>
                            <div class="col-sm-8">
                                <input type="text" value="@Model.MaxKisi" name="MaxKisi" class="form-control" placeholder="Max Kişi..." />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Min Kişi</label>
                            <div class="col-sm-8">
                                <input type="text" value="@Model.MinKisi" name="MinKisi" class="form-control" placeholder="Min Kişi..." />
                            </div>
                        </div>

                        <div class="form-group float-right">
                            <button class="btn btn-dark">Güncelle</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</section>


