
@{
    ViewBag.Title = "VarisNoktalari";
    Layout = "~/Views/_MainLayout.cshtml";
}

    <section class="content-header">
        <h3>Varış Noktaları Listesi</h3>
        <small class="text-primary">
            <i class="fa fa-info-circle"></i>
            Varış Noktası Ekle veya Güncelle
        </small>
    </section>


    <section>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Varış Nokta Id</th>
                    <th>Varış Noktası</th>
                    <th>Havalimanı Id</th>
                    <th>Update</th>                  
                </tr>
            </thead>
            <tbody>
                @foreach (VarisNoktalari varisNoktalari in ViewBag.VarisNoktalari)
                {
                    <tr>
                        <td>@varisNoktalari.VarisNoktaId</td>
                        <td>@varisNoktalari.VarisNokta</td>
                        <td>@varisNoktalari.HavaLimaniId</td>
                        <td class="text-center">
                           <a href="/Default/UpdateVaris?id=@varisNoktalari.VarisNoktaId" class="btn btn-sm btn-warning">
                                <i class="fa fa-recycle"></i> Güncelle
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <div class="row col-md-12">
            <a href="/Default/AddVarisNoktalari" class="btn btn-primary">
               Varış Noktası Ekle
                <i class="fa fa-plus-circle"></i>
            </a>
        </div>
    </section>